h1{
    text-align: center;
}

.texto{
    display: flex;
    justify-content: space-around;
  }
picture , .video{
    display: flex;
    justify-content: center;
}
nav{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}
main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
.hola{
    font-size: 300px;
    color: red;
}
@media (max-width: 600px) {

.texto{
    flex-direction: column;
}
}
* {
    font-family: "Metal Mania", system-ui;
    font-weight: 400;
    font-style: normal;
  }
